.message-list__box{data: {message: {id: messages.id}}}
  .message-list__box__comment-info
    .message-list__box__comment-info__name
      = messages.user.name
    .message-list__box__comment-info__day
      = messages.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-list__box__comment
    - if messages.comment.present?
      %p
        = messages.comment
    = image_tag messages.image.url, class: 'lower-message__image' if messages.image.present?