.teach-card
  .box
    = link_to "#", class:"profile" do
      .profile__image       
      .profile__name
        = teach.title
    .teach
      = link_to teaches_path, method: :get,class:"teach__title" do
        割合がわかりません
      .tweet__tags
        .tweet__tags__tag
          算数
        .tweet__tags__tag
          小６
        .tweet__tags__tag
          割合
  .body
    教えてください