%h1.section
  Output
.tweet-box
  = render @tweets  
%h1.section
  Help 
.teach-box
  = render partial: 'teach', collection: @teaches, as: :teaches
%h1.section
  Call 
.tweet-box
  = render partial: 'callroom', collection: @callrooms, as: :callroom