.tweet-card
  .box
    .face
      .face
        = link_to "#", class:"face__image" do
          -# %img{src="#" alt="貼る予定"}
          no-image       
        .name
        = link_to "#", class:"face__name" do
          name
    .detail
      = link_to "#", class:"tweet" do
        .title
          タイトル
        .tag
          算数
  .body
    今日は算数で整数の位について学んだ。

