// show
.container{
  width: 50%;
  .p2p-media {
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
  
    .remote-stream {
      width: 70%;
      margin-left: 300px;
      #js-remote-stream{
        width:100%;
        transform: scale(-1, 1);
      }
    }
    
    .local-stream {
      width: 30%;
      position: absolute;
      bottom: 0;
      left: 0;
  
      #js-local-stream{
        width: 100%;
        transform: scale(-1, 1);
      }
    }
  }
}

.tell{
  @include show-default;
  margin: 10px auto;
  padding: 16px;
  &__number{
    display: flex;
  }
  #js-remote-id{
    width: 50%;
  }
}

#js-meta.meta{
  display: none;
}
  
.infomation{
  color:#fff;
  text-align: center;
  background: linear-gradient(191deg, #f7b4b4, #f58484);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:34% 0%}
  50%{background-position:67% 100%}
  100%{background-position:34% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:34% 0%}
  50%{background-position:67% 100%}
  100%{background-position:34% 0%}
}
@keyframes AnimationName {
  0%{background-position:34% 0%}
  50%{background-position:67% 100%}
  100%{background-position:34% 0%}
}
// フォーム
.show-body{
  h1.show-callroom-title{
    text-align: center;
    font-weight: bold;
  }

}
.show-form{
  @include show-default;
  height: auto;
  margin: 16px auto;
  padding:16px ;

  #new_message{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    #message_comment{
      width: 100%;
      padding: 16px;
    }

    .comment__submit{
      margin: 0;
      width: 150px;
      padding: 10px;
      text-align: center;
      align-items: center;
    }
    
    
    .form__mask{
      position: relative;
      height: 50px;
      right: 30px;
      .icon{
        line-height: 50px;
        cursor: pointer;
      }
      
    }
    .hidden{
      display: none;
    }
  }
}