* {
  box-sizing: border-box;
}

header{
  // background-color:blueviolet;
  width: 100vw;
  height: 120px;
  
  .hyoji{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: gray;
    .logo{
      width: 120px;
      // height: 120px;
      .logo-link{
        line-height: 30px;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        padding-left: 20px;
        text-decoration: none;
        color: black;
      }
    }
    

    .title-link{
      width: 600px;
      height: 120%;
      font-size: 80px;
      line-height: 80px;
      font-family: 'Anton', sans-serif;
      text-align: center;
      text-decoration: none;
      color: black;
    }

    .btn{
      padding-right: 20px;
      &__logout{
        text-decoration: none;
        color: black;
      }
      &__profile{
        text-decoration: none;
        color: black;
      }
      &__tweet{
        text-decoration: none;
        color: black;
      }      
      &__teach{
        text-decoration: none;
        color: black;
      }      
      &__group{
        text-decoration: none;
        color: black;
      }      
    }   
  }
}

.main-tweet{
  // background-color: yellowgreen;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 50px;
  background: #1FA2FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .section{
    width: 500px;
    height: auto;
    font-size: 40px;
    margin-left: 59.545px;
    padding: 50px 0 0 0;
    font-family: 'Concert One', cursive;
  }
  
  .tweet-box{
    

    // border-top: solid 5px #5989cf;
    // border-bottom: solid 5px #5989cf;
    height: 450px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: scroll;
    margin:auto;
    padding-top: 50px;
    

    .tweet-card {
        position: relative;
        padding: 0.5em 0.7em;
        margin: 2em 0;
        background: #e6f4ff;
        color: #5c98d4;
        font-weight: bold;
        border-radius: 30px;
    }
    .tweet-card:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 30px;
        border: 15px solid transparent;
        border-top: 15px solid #e6f4ff;
        width: 0;
        height: 0;
    }
    
    .tweet-card{
      
      // padding: 0.5em 1em;
      // margin: 2em 0;
      // background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
      // background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    
      width: 350px;
      height: 200px;
      margin-right: 50px;
      margin: 0 0 50px 58px;
      .box{
        display: flex;
          .profile{
            background-color: honeydew;
            width: 100px;
            height: 115px;
            text-decoration: none;
            color: black;
            &__image{
              display: block;
              width: 80px;
              height: 80px;
              border-radius: 10%;
              margin: 10px auto;
            }
            &__no-image{
              background-color:#CBCBC7;
              width: 80px;
              height: 80px;
              border-radius: 10%;
              margin: 10px auto;
              font-size: 20px;
              line-height:40px ;
              text-align: center;
            }
            &__name{
              width: 100px;
              text-align: center;
              margin: auto;
              line-height: 3px;
            }
          }
          .tweet{
            width: 300px;
            height: 100px;
            &__title{
              width: 100%;
              height: 60px;
              font-size: 20px;
              flex-wrap: wrap;
              text-decoration: none;
              color: black;
            }
            &__tags{
              width: 100%;
              height: 40px;
              display: flex;
              flex-wrap: wrap;
              &__tag{
                background-color: cornflowerblue;
                line-height: 16px;
                margin:0 0 4px 10px;
                border-radius:20%;
                height: 16px;
              }
            }
          }
        }
        .body{
          width: 100%;
          height: calc(100% - 115px);
        }
    }
  }
  .teach-box{
    // background: #43C6AC;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 450px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: scroll;
    margin:auto;
    padding-top: 50px;
    
  .teach-card {
      position: relative;
      margin: 2em 0 2em 40px;
      padding: 8px 15px;
      background: #fff0c6;
      border-radius: 30px;
  }
  .teach-card:before{font-family: FontAwesome;
      content: "\f111";
      position: absolute;
      font-size: 15px;
      left: -40px;
      bottom: 0;
      color: #fff0c6;
  }
  .teach-card:after{
      font-family: FontAwesome;
      content: "\f111";
      position: absolute;
      font-size: 23px;
      left: -23px;
      bottom: 0;
      color: #fff0c6;
  }

    .teach-card{
      width: 350px;
      height: 200px;
      margin-right: 50px;
      margin: 0 0 50px 58px;
      .box{
        display: flex;
          .profile{
            background-color: honeydew;
            width: 100px;
            height: 115px;
            text-decoration: none;
            color: black;
            &__image{
              display: block;
              width: 80px;
              height: 80px;
              border-radius: 10%;
              margin: 10px auto;
            }
            &__no-image{
              background-color:#CBCBC7;
              width: 80px;
              height: 80px;
              border-radius: 10%;
              margin: 10px auto;
              font-size: 20px;
              line-height:40px ;
              text-align: center;
            }
            
            &__name{
              width: 100px;
              text-align: center;
              margin: auto;
              line-height: 3px;
            }
          }
          .tweet{
            width: 300px;
            height: 115px;
            &__title{
              width: 100%;
              height: 60px;
              font-size: 20px;
              flex-wrap: wrap;
              text-decoration: none;
              color: black;
            }
            &__tags{
              width: 100%;
              height: 40px;
              display: flex;
              flex-wrap: wrap;
              &__tag{
                background-color: cornflowerblue;
                line-height: 16px;
                margin:0 0 4px 10px;
                border-radius:20%;
                height: 16px;
              }
            }
          }
        }
        .body{
          width: 100%;
          height: calc(100% - 115px);
        }
    }
  }

}

// showのview
.show-body{
  // background-color: lightcoral;
  width: 100%;
  height: 100%;
  .author{
    // background-color: blanchedalmond;
    width: 80%;
    height: 90px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    &__image{
      width: 80px;
      height: 80px;
    }
    &__name{
      text-decoration: none;
      color: black;
      padding-left: 5px;
    }
  }
  .tweetManage{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 10px auto 0 auto;
    &__edit{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#55c500;
      padding: 0 10px;
      text-decoration: none;
      margin-right: 10px;
    }
    &__destroy{
      display: block;
      border-radius: 5px;
      color: #ffffff;
      background-color:#55c500;
      padding: 0 10px;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  
  .tweet{
    &__title{
      padding-top: 20px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }
    &__body{
      width: 80%;
      margin: auto;
    }
    &__image{
      display: block;
      width: 400px;
      height: 400px;
      margin: auto;
    }
  }
}

.form{
  width: 80%;
  margin: 20px auto;

  #new_reply{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #reply_comment{
      width: 1000px;
    }
    .form__reply{
      width: calc(100% - 115px );
      height: 50px;
      padding-left: 10px;
    }
    .form__mask{
      position: relative;
      height: 50px;
      .icon{
        position: absolute;
        right: 10px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden{
        display: none;
      }
    }
    .form__submit{
      height: 100%;
      width: 100px;
      margin-left: 15px;
      background-color: #28aef0;
      color: #fafafa;
      cursor: pointer;
    }
  }
}

.reply-list{
  // background-color:antiquewhite;
  width: 80%;
  height: 200px;
  overflow: scroll;
  margin: auto;
  margin-bottom: 50px;
}

// form
.tweet_image{
  width: 400px;
  height: 400px;
}